# Generated sources
src/font.c
bin/
build/
lib/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Scons logs
*.log

# Compiled Python objects
*.pyc
*.pyo

# Debug files
core.*
vgcore.*

# SConstruct
.scon*
