# Generated sources
include/piece/config.h
src/piece/font.c
./bin/
./build/
./lib/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.dll
*.os
*.so
*.so.*
*.dylib

# Scons logs
*.log

# Compiled Python objects
*.pyc
*.pyo

# Debug files
core.*
vgcore.*

# SConstruct
.scon*

# vim
*.swp

# Perl language specifics
lang/perl/blib
lang/perl/.build
lang/perl/_build
lang/perl/inc
lang/perl/Makefile
lang/perl/Makefile.old
lang/perl/MANIFEST.bak
lang/perl/META.yml
lang/perl/META.json
lang/perl/MYMETA.*
lang/perl/pm_to_blib
*.bs
